<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mtmimyeon_gitmi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MTMIMyeongiTMI"
        android:usesCleartextTraffic="true">
        <activity android:name=".mbti.MbtiResultActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mbti.MbtiTestQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MapDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".chatting.ChattingRoomDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".myClass.MyClassSubjectBulletinBoardDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myClass.MyClassSubjectBulletinBoardWritingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myClass.MyClassSubjectBulletinBoardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatting.ChattingRoomListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CopyrightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CampusPhoneNumberActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myClass.MyClassSubjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myClass.MyClassTimetableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".myClass.MyClassMailToProfessorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.SignUpActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".account.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetStartedActivity"
            android:label="MTMI"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MTMIMyeongiTMI.NoActionBar" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="639b14fa12c1620f6ab962bff4254a89" />
    </application>

</manifest>